/pip-services-devenv

/pip-services3-commons-dotnet
/pip-services3-components-dotnet
/pip-services3-container-dotnet
/pip-services3-data-dotnet
/pip-services3-rpc-dotnet
/pip-services3-messaging-dotnet
/pip-services3-mongodb-dotnet
/pip-services3-elasticsearch-dotnet
/pip-services3-memcached-dotnet
/pip-services3-redis-dotnet
/pip-services3-prometheus-dotnet
/pip-services3-rabbitmq-dotnet
/pip-services3-azure-dotnet
/pip-services3-aws-dotnet
/pip-services3-test-dotnet

/global.conf.override.ps1
/global.build.override.ps1