/pip-services-devenv

/pip-services-commons-dotnet
/pip-services-components-dotnet
/pip-services-container-dotnet
/pip-services-data-dotnet
/pip-services-rpc-dotnet
/pip-services-messaging-dotnet
/pip-services-mongodb-dotnet
/pip-services-elasticsearch-dotnet
/pip-services-memcached-dotnet
/pip-services-redis-dotnet
/pip-services-fluentd-dotnet
/pip-services-prometheus-dotnet
/pip-services-azure-dotnet
/pip-services-aws-dotnet

/global.conf.override.ps1
/global.build.override.ps1